---
import { Image } from "astro:assets";
import Card from "../components/Card.astro";
import HeroSection from "../components/HeroSection.astro";
import ProjectTile from "../components/ProjectTile.astro";
import Timeline from "../components/Timeline.astro";
import Title from "../components/Title.astro";
import Layout from "../layouts/Layout.astro";

import CodInsaLogo from "../images/codinsalogo.png";
import ISILogo from "../images/isilogo.png";
import R3Logo from "../images/r3logo.jpg";

import { t } from "astro-i18n";

let timelineElements = [
    {
        title: t("curriculum.erasmus"),
        place: "Politehnica University of Bucharest",
        time: "2023 - 2023",
    },
    {
        title: t("curriculum.sti"),
        place: "INSA-CVL",
        time: `2022 - ${t("now")}`,
    },
    {
        title: t("curriculum.tsi"),
        place: "Lycée Richelieu",
        time: "2020 - 2022",
    },
    {
        title: t("curriculum.sti2d"),
        place: "Lycée Richelieu",
        time: "2017 - 2020",
    },
];

let projects: {
    title: string;
    link?: string;
    badges: {
        alt: string;
        src: string;
    }[];
    desc: string;
}[] = [
    {
        title: t("projects.bloomingSprout.name"),
        link: undefined,
        badges: [
            {
                alt: "Python",
                src: "https://img.shields.io/badge/-Python-4584b6?style=flat-square&logo=Python&logoColor=white",
            },
        ],
        desc: t("projects.bloomingSprout.description"),
    },
    {
        title: t("projects.eulerProject.name"),
        link: undefined,
        badges: [
            {
                alt: "Python",
                src: "https://img.shields.io/badge/-Python-4584b6?style=flat-square&logo=Python&logoColor=white",
            },
        ],
        desc: t("projects.eulerProject.description"),
    },
    {
        title: t("projects.drizzly.name"),
        link: undefined,
        badges: [
            {
                alt: "C++",
                src: "https://img.shields.io/badge/-C++-00599C?style=flat-square&logo=cplusplus&logoColor=white",
            },
        ],
        desc: t("projects.drizzly.description"),
    },
    {
        title: t("projects.oRandom.name"),
        link: undefined,
        badges: [],
        desc: t("projects.oRandom.description"),
    },
    {
        title: t("projects.katshing.name"),
        link: undefined,
        badges: [
            {
                alt: "Svelte",
                src: "https://img.shields.io/badge/-Svelte-FF3E00?style=flat-square&logo=svelte&logoColor=white",
            },
        ],
        desc: t("projects.katshing.description"),
    },
    {
        title: t("projects.thisWebsite.name"),
        link: undefined,
        badges: [
            {
                alt: "Astro",
                src: "https://img.shields.io/badge/-Astro-BC52EE?style=flat-square&logo=astro&logoColor=white",
            },
        ],
        desc: t("projects.thisWebsite.description"),
    },
];

// const allBlogPosts = await getCollection("projects");
---

<Layout title="Index">
    <HeroSection />
    <Title class="border-b-2 border-primary-800" id="cursus">
        {t("curriculum.name")}
    </Title>
    <Timeline timelineElements={timelineElements} />
    <Title class="border-b-2 border-primary-800">{t("experiences.name")}</Title>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-5 py-5">
        <Card class="items-center">
            <p class="text-lg text-center font-heading font-bold">
                {t("experiences.r3.title")}
            </p>
            <Image
                src={R3Logo}
                alt="r3 logo"
                class="w-32 aspect-square rounded"
            />
            <p class="text-center">{t("experiences.r3.description")}</p>
        </Card>
        <Card class="items-center">
            <p class="text-lg text-center font-heading font-bold">
                {t("experiences.isi.title")}
            </p>
            <Image
                src={ISILogo}
                alt="isi logo"
                class="w-32 aspect-square rounded"
            />
            <p class="text-center">{t("experiences.r3.description")}</p>
        </Card>
        <Card class="items-center">
            <p class="text-lg text-center font-heading font-bold">
                {t("experiences.codinsa.title")}
            </p>
            <Image
                src={CodInsaLogo}
                alt="codinsa logo"
                class="w-32 aspect-square rounded"
            />
            <p class="text-center">{t("experiences.codinsa.description")}</p>
        </Card>
    </div>
    <Title class="border-b-2 border-primary-800">{t("projects.name")}</Title>
    <div class="flex flex-col py-5 gap-5">
        {
            projects.map(({ title, link, badges, desc }) => (
                <ProjectTile
                    title={title}
                    link={link}
                    badges={badges}
                    desc={desc}
                />
            ))
        }
    </div>
    <!-- {JSON.stringify(allBlogPosts)} -->
</Layout>
